/* CSS dla komponentu List uzytego w aplikacji App */
.list {
  height: 100vh;
  overflow: auto;
  max-width: 15rem;
  padding: 0;
  box-sizing: border-box;
}
.list::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
.list::-webkit-scrollbar {
  width: 0.5rem;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
}

.list > .accordion-item {
  font-weight: 600;
  font-size: 0.9rem;
}

.accordion-content .accordion-item {
  font-weight: 600;
  font-size: 0.7rem;
}